* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 768px) {
  
}























@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* animação pra piscar o cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}